h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

:root {
  --light-color: #f5f5f7;
  --dark-color: #221f20;
  --container-padding-inline: 13%;
  --footer-padding-inline: 10%;
  @media screen and (max-width: 768px) {
    --container-padding-inline: 6%;
    --footer-padding-inline: 6%;
  }
  @media screen and (max-width: 576px) {
    --container-padding-inline: 15px;
    --footer-padding-inline: 15px;
  }
}

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.container {
  padding: 0 var(--container-padding-inline);
}

.title {
  color: var(--dark-color);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  span {
    position: relative;
  }
  span::after {
    position: absolute;
    bottom: 1px;
    right: 0;
    content: "";
    display: block;
    width: 75px;
    height: 2px;
    background-color: var(--dark-color);
  }
  ::selection {
    background-color: var(--dark-color);
    color: var(--light-color);
  }
  @media screen and (max-width: 768px) {
    font-size: 36px;
  }
  @media screen and (max-width: 576px) {
    font-size: 24px;
  }
}

.promo {
  position: relative;
  min-height: 100vh;
  background: url(../img/Bg.jpg) center center/ cover no-repeat;
  padding-top: 75px;
  ::selection {
    background-color: var(--light-color);
    color: var(--dark-color);
  }
  @media screen and (max-width: 576px) {
    min-height: 500px;
    padding-top: 50px;
  }
}

.promo__title {
  color: var(--light-color);
  font-size: 60px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  @media screen and (max-width: 768px) {
    font-size: 48px;
  }
  @media screen and (max-width: 576px) {
    font-size: 26px;
  }
}

.promo__subtitle {
  margin-top: 124px;
  color: var(--light-color);
  font-size: 32px;
  font-weight: 100;
  line-height: normal;
  @media screen and (max-width: 768px) {
    & {
      margin-top: 80px;
    }
  }
  @media screen and (max-width: 576px) {
    margin-top: 30px;
    font-size: 16px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 20px;
  min-height: 38px;
  width: 160px;
  border: 1px solid var(--light-color);
  background: rgba(217, 217, 217, 0);
  color: var(--light-color);
  padding: 3px 10px;
  font-size: 16px;
  font-weight: 100;
  line-height: normal;
  cursor: pointer;
  transition: all 0.3s ease-out;
  @media screen and (max-width: 576px) {
    font-size: 14px;
    width: 120px;
    min-height: 30px;
  }
}

.btn:hover {
  box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.62);
  font-weight: 500;
}

.promo__address {
  position: relative;
  margin-top: 100px;
  color: var(--light-color);
  font-size: 16px;
  font-weight: 100;
  line-height: normal;
  address {
    font-style: normal;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  &::before {
    content: "";
    display: block;
    width: 40px;
    height: 49px;
    background: url(../css/logo/Arrow.svg) center center / cover no-repeat;
    position: absolute;
    left: -45px;
    top: -17px;
  }
  @media screen and (max-width: 768px) {
    & {
      margin-top: 80px;
    }
    &::before {
      left: -40px;
    }
  }
  @media screen and (max-width: 750px) {
    &::before {
      display: none;
    }
  }
  @media screen and (max-width: 576px) {
    margin-top: 233px;
  }
}

.keywords {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 0 360px;
  width: 100%;
  height: 20px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0.12) 50%,
    rgba(255, 255, 255, 0.02) 100%
  );
  li {
    list-style-type: none;
    color: var(--light-color, #f5f5f7);
    font-size: 10px;
    font-weight: 100;
    line-height: normal;
  }
  @media screen and (max-width: 1400px) {
    & {
      padding: 0 20px;
    }
  }
  @media screen and (max-width: 768px) {
    & li {
      display: none;
    }
    & li:ntn-last-child(-n + 6) {
      display: none;
    }
  }
  @media screen and (max-width: 576px) {
    & {
      margin-top: 10px;
    }
    & li:ntn-child(-n + 11) {
      display: none;
    }
  }
}

.about {
  padding-top: 80px;
  background-color: var(--light-color, #f5f5f7);
  ::selection {
    background-color: var(--dark-color);
    color: var(--light-color);
  }
  @media screen and (max-width: 576px) {
    padding-top: 50px;
  }
}

.about__title {
  color: var(--dark-color);
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.about__text {
  width: 100%;
  margin-top: 20px;
  color: var(--dark-color);
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  span {
    color: #a5a5a5;
  }
  /* @media screen and (max-width: 1440px) {
    width: 100%;
  } */
  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
  @media screen and (max-width: 576px) {
    font-size: 16px;
  }
}

.services {
  display: flex;
  column-gap: 10px;
  margin-top: 80px;
  @media screen and (max-width: 768px) {
    margin-top: 40px;
    display: block;
    row-gap: 40px;
  }
  @media screen and (max-width: 576px) {
    margin-top: 20px;
    display: block;
    row-gap: 20px;
  }
}

.services__items {
  width: 50%;
  ul {
    margin-top: 20px;
    padding: 0;
  }
  li {
    position: relative;
    margin-top: 10px;
    list-style-type: none;
    color: var(--dark-color);
    font-style: 16px;
    font-weight: 400;
    line-height: normal;
    &:first-child::before {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      background: url(../css/logo/Camera.svg) center center / cover no-repeat;
      position: absolute;
      left: -30px;
      top: 2px;
    }
    &:nth-child(3)::before {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      background: url(../css/logo/Edit.svg) center center / cover no-repeat;
      position: absolute;
      left: -30px;
      top: 2px;
    }
  }
  @media screen and (max-width: 768px) {
    & {
      width: 100%;
    }
    &:first-child::before {
      left: -25px;
    }
    &:nth-child(3)::before {
      left: -25px;
    }
  }
  @media screen and (max-width: 576px) {
    & {
      width: 100%;
      margin-top: 5px;
      font-size: 14px;
    }
    & li:first-child::before {
      display: none;
    }
    & li:nth-child(3)::before {
      display: none;
    }
  }
}

.services__items-subtitle {
  color: var(--dark-color);
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  @media screen and (max-width: 576px) {
    font-size: 12px;
  }
}

.services__text {
  width: 50%;
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  @media screen and (max-width: 768px) {
    width: 100%;
    padding-top: 40px;
  }
  @media screen and (max-width: 576px) {
    font-size: 12px;
    padding-top: 20px;
    letter-spacing: 0.24px;
  }
}

.works {
  padding-top: 80px;
  background-color: var(--light-color, #f5f5f7);
  @media screen and (max-width: 768px) {
    padding-top: 50px;
  }
}

.works__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) 1.5fr;
  column-gap: 30px;
  row-gap: 50px;
  margin-top: 50px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }
  @media screen and (max-width: 768px) {
    gap: 30px 20px;
    margin-top: 40px;
  }
  @media screen and (max-width: 576px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr) 1.5fr;
    column-gap: 0px;
    row-gap: 30px;
  }
}

.inspiration {
  padding-top: 80px;
  background-color: var(--light-color, #f5f5f7);
  @media screen and (max-width: 768px) {
    padding-top: 50px;
  }
}

.inspiration__grid {
  margin-top: 53px;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }
  @media screen and (max-width: 1200px) {
    column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  @media screen and (max-width: 1200px) {
    margin-top: 43px;
  }
  @media screen and (max-width: 576px) {
    margin-top: 43px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr) 2.1fr 1fr 0.5fr;
    column-gap: 0px;
    row-gap: 20px;
  }
}

#four {
  grid-column-start: 4/5;
  grid-row: 1/3;
  @media screen and (max-width: 1200px) {
    grid-column: 2/3;
    grid-row: 2/4;
  }
  @media screen and (max-width: 576px) {
    grid-row: auto;
    grid-column: auto;
  }
}

#six {
  grid-column: 2/4;
  grid-row-start: 2;
  @media screen and (max-width: 1200px) {
    grid-column: 1/3;
    grid-row: 4/5;
  }
  @media screen and (max-width: 576px) {
    grid-column: auto;
  }
}

.customers {
  background-color: var(--light-color);
  padding-top: 80px;
  padding-bottom: 100px;
  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }
}

.customers__wrapper {
  margin-top: 50px;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  img {
    width: calc((100% - 90px) / 4);
    object-fit: cover;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  }
  @media screen and (max-width: 768px) {
    & {
      margin-top: 43px;
      gap: 20px;
    }

    img {
      width: calc((100% - 60px) / 4);
    }
  }
  @media screen and (max-width: 576px) {
    & {
      margin-top: 33px;
      column-gap: 36px;
      row-gap: 20px;
      justify-content: space-between;
    }
    img {
      width: calc((100% - 36px) / 2);
    }
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 88px var(--footer-padding-inline);
  color: var(--light-color);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  @media screen and (max-width: 768px) {
    font-size: 16px;
    flex-direction: column;
    align-items: start;
    @media screen and (max-width: 568px) {
      align-items: center;
    }
  }
}

.footer__addr {
  font-style: normal;
  display: block;
  text-align: center;
  @media screen and (max-width: 768px) {
    order: 1;
    margin: 30px 0;
  }
  @media screen and (max-width: 576px) {
    order: 2;
    margin: 0;
  }
}

.footer__tel {
  color: var(--light-color);
  text-decoration: none;
  @media screen and (max-width: 768px) {
    order: 2;
  }
  @media screen and (max-width: 576px) {
    order: 1;
    margin: 30px 0;
  }
}

.footer__social {
  padding-left: 0;
  column-gap: 30px;
  display: flex;
  list-style: none;
  li {
    width: 32px;
    height: 32px;
    border: 1px solid var(--light-color);
    background: rgba(217, 217, 217, 0);
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* span {
      width: 22px;
      height: 22px;
    } */
  }
  @media screen and (max-width: 1024px) {
    column-gap: 27px;
  }
  @media screen and (max-width: 768px) {
    order: 0;
  }
}
